# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

#temporary for development
examples/

#SLURM files
*.out
*.err

src/rocit/preprocessing/make_labelled_parquets_loh.py
src/rocit/preprocessing/make_labelled_parquets.py

#macos specific
.DS_Store
